<% if @message %>
  <div id="message-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <%= form_for @message, url: {action: "create"}, remote: true do |f| %>
        <%= f.text_area :content, class: "form-control", placeholder: "Bark someting... woof! woof!" %>
        <%= f.hidden_field :author_id %>
        <%= f.hidden_field :receiver_id %>
        <%= f.submit "Post", class: "btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @messages %>
  <div class="row">
    <div id="messages-list" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <ul class="list-group">
        <% @messages.each do |message| %>
          <li class="list-group-item">
            <div class="message-header">
              <span class="profile-name"><%= message.author.profile_name %></span>
              <span class="small muted"><%= time_ago_in_words(message.created_at) %></span>
            </div>
            <%= message.content %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
