<nav id="top-nav" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= user_signed_in? ? messages_path : '/' %>">
        <div>
          <%= image_tag "logo.png", id: "logo", alt: "Brand" %>
          <span>BARKER</span>
      </div>
      </a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to "My account", edit_user_registration_path %>
          <%= link_to "Sign out", destroy_user_session_path, method:"delete", class: "sign-options" %>
          <%= form_tag(search_path, method: :get, class: "navbar-form navbar-left", id: "search-form") do %>
            <%= text_field_tag :search, nil, class: "form-control", placeholder: "search friends" %>
            <%= submit_tag "GO", class:"btn", id: "search-btn" %>
          <% end %>
        </li>
      <% elsif controller.controller_name == "sessions" %>
        <li>
          <%= link_to "Sign up", new_user_registration_path, class: "sign-options" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign in", new_user_session_path, class: "sign-options" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
