<!DOCTYPE html>
<html>
<head>
  <title>Barker</title>
  <link rel="icon" href="<%= image_path('logo.png') %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/header" %>

  <div class="container">
    <div id="flash">
      <% if flash.present? %>
        <%= render partial: "shared/notice_banner" %>
      <% end %>
    </div>
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-center">Barker fake copyright</p>
    </div>
  </footer>
</body>
</html>
